absl-py==1.2.0
addict==2.4.0
autopep8==1.7.0
backcall==0.2.0
brotlipy==0.7.0
decorator==5.1.1
future==0.18.2
google-auth==2.12.0
google-auth-oauthlib==0.4.6
h5py
ipdb==0.13.9
pandas
Pillow
PyYAML
tensorboard==2.10.1
tensorboard-plugin-wit==1.8.1
tqdm==4.64.1
yapf==0.32.0
opencv-python
joblib
